body{
  background: url(../img/texture.jpg);
}
.main{
  margin-right:auto;
  margin-left:auto;
  width:960px;
  background: #D3D3D3;

}

#top
{
  float:left;
  width:960px;
  background: black;
}
.shipping{
  width:400px;
  float:left;
  margin-bottom: 0;
  font-family: 'Fjalla One', sans-serif;
}
#acc{
  float:right;
  margin-bottom:0;
  font-family: 'Fjalla One', sans-serif;
}

a{
  text-decoration:none;
  text-align:center;
}
#sign li a{
  color:white;
}
.menu li a{
  color:black;
  font-family: 'Fjalla One', sans-serif;
  text-transform:uppercase;
  font-size: 18px;
}
footer a{
  color:black;
}
#sign{
  margin-bottom: 0;
}

#sign li{
  display:inline;
  float:right;
}
#logo{
  float:left;
  margin-top: 10px;
  margin-left:10px
}
.menu{
  margin-top: 10px;
  width:825px;
  float:right;
}
.menu li{
  display:inline;
}
.menu a{
  color:#0066ff;
}
#hero{
  width:960px;
}

#chrono{
  margin-top: 10px;
  width:960px;
  height:600px;
}
#block1{
  background: url(../img/block1.jpg) no-repeat;
  height: 180px;
  margin-top:30px;
  margin-left: 15px;
}
/*this is used to add opacity effect when I hover over the elements in the block*/

#block1:hover{
  opacity:0.5;
  filter:alpha(0.5);
}

#block2{
  background: url(../img/block2.jpg) no-repeat;
  height: 180px;
  margin-top:30px;
}
#block2:hover{
  opacity:0.5;
  filter:alpha(0.5);
}

#block3{
  background: url(../img/block3.jpg) no-repeat;
  height: 180px;
  margin-top:30px;
}
#block3:hover{
  opacity:0.5;
  filter:alpha(0.5);
}
.executive{
  font-family: 'Fjalla One', sans-serif;
  margin-left: 15px;
}
.women{
  font-family: 'Fjalla One', sans-serif;
  margin-left: 15px;
}
.casual{
  font-family: 'Fjalla One', sans-serif;
  margin-left: 0;
  margin-right: 0;
}
footer{
  height:25px;
  border-width:1px 0px 0px 0px;
  border-style: solid;
  border-color: black;
}
#signoff{
    font-family: 'Fjalla One', sans-serif;
    float:left;
}

.icon{
  float:right;
}

i{
  margin:0px 5px;
}
/*register page*/
header{
  height:110px;
  /*margin-top: 25px*/
}
form li{
  list-style:none;
}
#ename{
  margin-top: 50px;
}
#name{
  margin-top: 5px;
  margin-bottom: 5px;
}
#email{
  margin-top:5px;
  margin-bottom: 5px;
}
#pass{
  margin-top:5px;
  margin-bottom: 5px;
}
#no{
  margin-top:5px;
  margin-bottom: 5px;
}
#Address{
  margin-top:5px;
  margin-bottom: 5px;
}
#submit{
  margin-top:5px;
  margin-bottom: 5px;
  width:80px;
}
